.bg-black {
    background-color:#212121 !important
}

.menu-item {
    display: inline-block;
    margin: 0 0.4em !important;
    color: white !important;
}

.menu-item:hover {
    color: white !important;
}